<h1>Welcome, <%= @user.username %></h1>

<h3>Here's your reading list: </h3>

<% @books.each_with_index do |book, index| %>
    <p><a href="/books/<%=book.slug%>/edit"><%=index + 1%>. </a>
    <%= book.title %> - <%= book.author_name %></p>
<% end %>

To add a book to your reading list:
<a href="/books/new">Add a Book</a>

<a href="/logout">Log Out</a>
