<h1>Welcome, <%= current_user.username %></h1>

<h3>Here's your reading list: </h3>

<% current_user.books.each_with_index do |book, index| %>
    <p><a href="/books/<%=book.slug%>"><%=index + 1%>. <%= book.title %> - <%= book.author_name %></a></p>
<% end %>

To add a book to your reading list:
<a href="/books/new">Add a Book</a>

<a href="/logout">Log Out</a>
